body {
  font-family: cursive;
  font-size: 20px;
}
nav {
  background-color: aquamarine;
  padding: 20px;
}
nav a {
  padding-right: 20px;
  text-decoration: none;
}
#f {
  margin: 30px;
}
#btn-add {
  float: right;
  margin-top: -5%;
}
table {
  background-color: rgb(127, 255, 138);
}
button,
Link {
  background-color: rgb(224, 30, 30);
  font-size: 20px;
  text-decoration-line: none;
}
table{
  text-align: center;
}
hr{
  width: 100%;
}